<table>
    <tr>
        <th>User ID</th>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Admin</th>
        <th>Joined</th>
        <th>Last Seen</th>
    </tr>
    {{#each users}}
    <tr>
        <td><a href="/users/admin/editUser/{{UserId}}">{{UserId}}</a></td>
        <td>{{FirstName}} {{LastName}}</td>
        <td><a href="/users/{{Username}}">{{Username}}</a></td>
        <td><a href="mailto:{{Email}}">{{Email}}</a></td>
        <td>{{Admin}}</td>
        <td>{{dateFormat joined}}</td>
        <td>{{dateFormatLong lastLogin}}</td>
    </tr>
    {{/each}}
</table>
