<div class="table-responsive">
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">User ID</th>
                <th scope="col">Name</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Admin</th>
                <th scope="col">Joined</th>
                <th scope="col">Last Seen</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <th scope="row"><a href="/users/admin/editUser/{{UserId}}">{{UserId}}</a></th>
                <td>{{FirstName}} {{LastName}}</td>
                <td><a href="/users/{{Username}}">{{Username}}</a></td>
                <td><a href="mailto:{{Email}}">{{Email}}</a></td>
                <td>{{Admin}}</td>
                <td>{{dateFormat joined}}</td>
                <td>{{dateFormatLong lastLogin}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>