<script type="application/javascript">
  var deletePost = function (id) {
    console.log(id);
    fetch("posts/" + id, { method: "delete" }).then(result => window.location = window.location);
  }
</script>
<div class="container">
  <h3>Lets get active!</h3>
  <hr />
  <h3>Posts || <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newPostModal">Create a new post!</button></h3>
  {{#each posts}}
  <hr>
  <h3>
    Username: {{ Username }} <br>
    Title: {{ PostTitle }} <br>
    Post: {{ PostBody }} <br>
    <button class="btn btn-danger" data-toggle="modal" data-target="#deletePostModal">Delete</button> <a href="posts/{{PostId}}"><button class="btn btn-info">Edit</button></a>
  </h3>
  {{/each}}

</div>

<div class="modal fade" id="deletePostModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete post?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you wish to delete this post? This action is not reversable.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" onClick="deletePost({{PostId}})">Delete Post</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="newPostModal" tabindex="-1" aria-labelledby="newPostModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newPostModalLabel">New Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="makePost" name="makePost" method="POST" action="/posts/">
          <div class="form-group">
            <label for="postTitle" class="col-form-label">Title:</label>
            <input type="text" class="form-control" id="postTitle" name="postTitle" required>
          </div>
          <div class="form-group">
            <label for="postBody" class="col-form-label">Whats on your mind?</label>
            <textarea class="form-control" id="postBody" name="postBody" rows="5" required></textarea>
          </div>
          <div>
            <button type="submit" class="btn btn-success form-control">Submit</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>